<div class="register">
  <div class="row">
    <div class="left-side col-lg-6 col-md-12 p-0">
      <div class="register-image">
        <img width="780px" src="../../../assets/abstract-lines-car-logo-vector-600nw-2064174017.webp" alt="image">
      </div>
    </div>
    <div class="right-side col-lg-6 col-md-12 p-0">
      <div class="register-content">
        <div class="register-form">
          <h3>Efficient Car Rental Solution</h3>
          <p>Already signed up? <a routerLink="/login">Log in</a></p>
          <form>
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Your Email Address" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" placeholder="Create A Password" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="firstname " id="firstname" placeholder="Enter You First Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="lastname" id="lastname" placeholder="Enter You Last Name" class="form-control">
            </div>
            <button type="submit">Sign Up</button>
            <div class="connect-with-social">
              <span>Or</span>
              <button type="submit"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAA9klEQVRIS2NkGCDAOED2MgxZi5mBIWYIxDzQkPsJpK8A8WdCIUmJjwOBhk8FYkk0S64D+Vq0sjgBaPB8HIZfA4pr08JiVqChz4BYhN4WOwAt3I9m6U0gfxsQfwLi19AowOtpcuI4HmjiAiRTXwHZUkD8l1DwIsuTY3Ea0ICZSIYcArLtSbEUpJYci9OB+mYgWXQAyHYcdhaDsogmkb5aDlQXRUgtsUFNisVtQEurB8LiVKClcwbCYhegpXupZTGyOSAfzRqIVD1qMd0KkNGgHg1qQmUHWJ7YsnpQFCCgVqU6kkveA9kXifImkiJyfEyqHVjVjzyLAcEpNR/+VUHuAAAAAElFTkSuQmCC"/>Connect With facebook</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

